@media only screen and (max-width: 600px){  /* css pour les basses résolutions */
    main {
        height: auto;
        width: 100vh;
        padding-top: 30px;
    }
}

@media only screen and (min-width: 600px){  /* css pour les hautes résolutions */
    main {
        height: auto;
        padding-top: 30px;
    }
}

h1 {
    text-align: center;
}

h3 {
    cursor: pointer;
    background-color: rgba(179, 179, 179, 0.47);
}


.voletAide {
    overflow: hidden;
    height: 2.5em;
    transition: height;
}

