@media only screen and (max-width: 600px) {
  main{
    height: auto;
    padding: 5% 1% 5% 1%;
    margin-left: 3%;
    min-width: 27pc;
  }
}

@media only screen and (min-width: 600px) {
  main{
    height: auto;
    padding: 5% 2% 5% 2%;
    margin-left: 20%;
    min-width: 27pc;
  }
}



main>div:not(:first-of-type) {
  margin-top: 2%;
  padding-top: 2%;
  border-top: 2px solid lightgray;
}

.profilText {
  grid-column: 1 / 3;
}

.headAccount {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 5px;
}

.subHeadAccont_1 {
  display: grid;
  grid-template-columns: 8pc 1fr;
  border-right: 3px solid rgb(137, 147, 165);

}

.subHeadAccount_2 {
  width: 80%;
  font-size: 11pt;
}

.iconRank {
  height: 90px
}

.iconAccount {
  grid-row: 1 / 4;
  text-align: center;
  cursor: pointer;
}

.noCursor {
  cursor: auto;
}

.iconAccount > img {
  border-radius: 50%;
}

.boldInfo {
  font-weight: bold;
}

#formInfosAccount {
  display: grid;
  border: solid lightgray 3px;
  border-radius: 10px;
  margin: 0 10%;
}

#formInfosAccount > *:not(:first-child) {
  border-top: solid lightgray 3px;
}

#editButton {
  text-align: right;
}

label {
  padding: 2%;
}

.addButton {
  text-align: center;
}

.editAddressButton {
  text-align: right;
  grid-column: 2;
}

.addressFirstColumn {
  grid-column: 1;
}
