@media only screen and (max-width: 600px) {
    main {
        margin-top: 75px;
        margin-left: 2%;
        margin-right: 2%;
        padding: 5%;
        border-radius: 25px 25px 0 0;
        height: auto;
    }

    .price{
        margin-left: 15pc;
        position: absolute;
        text-align: center;
        font-weight: bold;
    }

    .retirerPanier {
        position: absolute;
        margin-top: 11pc;
    }

    .btnAchat {
        position: absolute;
        margin-left: 20pc;
        width: 5pc;
        height: 2pc;
    }
    
}

@media only screen and (min-width: 600px) {
    main {
        margin-top: 75px;
        margin-left: 20%;
        margin-right: 15%;
        padding: 5% 2% 5% 2%;
        border-radius: 25px 25px 0 0;
        height: auto;
        min-width: 28pc;
    }

    .price{
        margin-left: 15pc;
        position: absolute;
        text-align: center;
        font-weight: bold;
    }

    .retirerPanier {
        position: absolute;
        margin-top: 11pc;
    }

    .btnAchat {
        position: absolute;
        margin-left: 20pc;
        width: 5pc;
        height: 2pc;
    }
}

.btnAcheterTout {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h2{
    text-align: center;
}

#articles{
    display: grid;
    border: solid lightgray 3px;
    border-radius: 10px;
}

.article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
}

a{
    color: inherit;
}


#articles > *:not(:first-child) {
    border-top: solid lightgray 3px;
}

main > div:not(:first-of-type) {
    margin-top: 2%;
    padding-top: 2%;
    border-top: 2px solid lightgray;
}

#ordersContainer {
    display: grid;
    border: solid lightgray 3px;
    border-radius: 10px;
}

#ordersContainer > *{
    padding: 20px;
    display: grid;
}

#ordersContainer > *:not(:first-child) {
    border-top: solid lightgray 3px;
}

.purchaseFirstColumn{
    grid-column: 1;
}

.purchaseSecondColumn{
    grid-column: 2;
    text-align: right;
}

.purchaseSecondColumn > img {
    width: 25%;
}

textarea{
    height: 500px;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
}

#formRate {
    display: grid;
    row-gap: 20px;
}

input[type="number"]{
    width: 5%;
    padding-right: inherit;
}
