html,   
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  background-color: #e4f4fb;
  font-family: sans-serif;
}

@media only screen and (max-width: 600px) { /* css pour les basses résolutions */

  main {
    margin-left: 5%;
    margin-top: 50px;
    padding-bottom: 18%;
    padding-left: 2.4%;
    padding-right: 2.4%;
    border-radius: 10px;
    width: 80%;
    min-width: 26pc;
    height: 100%;
  }

  input[type="text"],
  input[type="search"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  input[type="number"] {
    padding-right: 200px;
  }

}

@media only screen and (min-width: 600px) { /* css pour les hautes résolutions */

  main {
    margin-left: 23%;
    margin-right: 20%;
    margin-top: 50px;
    padding-bottom: 18%;
    padding-left: 2.4%;
    padding-right: 2.4%;
    border-radius: 10px;
    min-width: 26pc;
    height: 100%;
  }

}


input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"] {
  font-size: 16px;
  width: 100%;
  padding-left: 0;
  padding-top: 12px;
  padding-bottom: 0.4em;
  margin: 0px 0px 0px 2px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(54, 54, 54);
}



input::placeholder { 
  /* paramètre du placeholder pour la barre de recherche */
  color: rgba(126, 125, 125, 0.2);
  font-size: 1.5em;
}

main {
  background-color: white;
}

nav {
  /* style de la barre de navigation horizontal */
  margin: 0;
  padding: 0;
  background-color: rgb(41, 43, 42);
  width: 100%;
  font-family: sans-serif;
  top: 0;
  position: fixed;
  z-index: 7;
}

nav a {
  /* paramètre des balises d'ancrage dans la balise nav */
  float: left;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  width: 10%; /* fait en sorte que chaque lien sont de même largeur */
  text-align: center;
}

i {
  color: white; /* couleur des icônes importées de font-awesome */
}

nav a:hover {
  /* modifie le fond des cases de la barre de navigation lorsqu'on passe dessus */
  transition: 1s;
  background-color: black;
}

.dropdown {
  /* classe qui paramètre le menu déroulant de la loupe */
  float: left;
  width: 10%;
  text-align: center;
  overflow: hidden;
}

.dropdown, 
.dropdown > * {
  cursor: pointer;
}

.dropdown:hover {
  /* modifie le fond du menu déroulant lorsqu'on passe dessus */
  transition: 1s;
  background-color: black;
}

.dropdown .dropbtn {
  /* paramètres du bouton qui fait apparaître la barre de recherche  */
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

.dropdown-content {
  /* paramètres de la barre de recherche */
  visibility: hidden;
  opacity: 0;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

#iconeB {
  transition-duration: 1s;
}


.compte {
  float: right;
}


.compteDropDown {
  position: fixed;
  background-color: rgb(41, 43, 42);
  margin-left: 77.4%;
  width: 11.2%;
  text-align: center;
  overflow: hidden;
  margin-top: 2.9%;
  max-height: 0;
  transition: max-height 2s;
}

.compte:hover + .compteDropDown, .compteDropDown:hover  {
  max-height: 10pc;
}

.compteDropDown a {
  padding-right: 100%;
}


/* Paramètres du footer */

@media only screen and (max-width: 600px){  /* css pour les basses résolutions */

footer {
  display: grid;
  position: sticky;
  left: 0;
  top: 100%;
  width: auto; /* remettre à 100vh si bug */
  background-color: rgb(41, 43, 42);
  color: white;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 45px);
  z-index: 8;
}

}

@media only screen and (min-width: 600px){  /* css pour les hautes résolutions */

  footer {
    display: grid;
    position: sticky;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: rgb(41, 43, 42);
    color: white;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 45px);
  }
  
  }

.footerGrid1 {
  grid-column: 1/-1;
  grid-row: 1;
  font-family: sans-serif;
}

.footerGrid2 {
  grid-column: 1/-1;
  grid-row: 2;
  font-family: sans-serif;
  font-size: 10pt;
}


.formGrid {
  margin-top: -20px;
  margin-bottom: 10px;
  grid-column: 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10px;
  column-gap: 20px;
}

.formGrid1 {
  grid-column: 1;
  grid-row: 3;
}

.formGrid input[type=text] {
  font-size: 9pt;
}

.formGrid2 {
  grid-column: 2;
  grid-row: 3;
}

.formGrid input[type=submit] {
  font-family: sans-serif;
}

.footerGrid3 {
  grid-column: 1;
  grid-row: 4;
}

.footerGrid4 {
  grid-column: 2;
  grid-row: 4;
}

.footerGrid5 {
  grid-column: 3;
  grid-row: 4;
}

.footerGrid3, .footerGrid4, .footerGrid5 {
  margin-bottom: 10px;
}

input[name="tabs"] {
  display: none;
}

input[name="tabs"] + label {
  padding: 5px;
  background: rgb(54, 54, 54);
  border-radius: 5px;
  color: white;
}

input[name="tabs"]:checked + label {
  transition: 0, 3s;
  font-weight: bold;
  border: solid 2px #fff;
}

/* css pour la barre latérale */

@media only screen and (max-width: 600px){ /* css pour les basses résolutions */
  .sidebar{
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    border: solid rgb(41, 43, 42) 3px;
    background-color: rgb(41, 43, 42);
    top: 2.7em;
    left: -120px;
    z-index: 7;
  }


  .circle {
    background: #ff7a59;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    z-index: 7;
  }


  .btnCategories {
    z-index: 8;
    position: fixed;
    background: rgb(54, 54, 54);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    margin-left: -27px;
    margin-top: 50%;
    left: 0;
    top: 0;
    cursor: pointer;
    z-index: 7;
  }

  
.fleche {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin-top: 22px;
  margin-left: 20px;
  padding: 2px;
  transform: rotate(315deg);
  transition: transform 1s;
  height: 0;
  overflow: hidden;
}

.sidebar label {
  font-size: 12pt;
}

}

.sidebar label {
  color: white;
  font-family: sans-serif;
}

.circle i {
  font-size: 2rem;
  margin: auto;
  color: white;
}

@media only screen and (min-width: 600px){  /* css pour les hautes résolutions */

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  border: solid rgb(41, 43, 42) 3px;
  background-color: rgb(41, 43, 42);
  top: 2.7em;
  left: 0;
  z-index: 0;
}


.circle {
  background: #ff7a59;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.fleche {
  display: none;
}
}

.category {
  border: none;
  background-color: transparent;
  outline: none;
  position: absolute;
  color: rgba(0, 0, 0, 0);
  height: 55px;
  width: 50%;
  border-radius: 50%;
  cursor: pointer;
  z-index: 8;
}


/* Css pour le volet de trie */ 

.volet {
  z-index: 0;
  position: fixed;
  background: rgb(54, 54, 54);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  margin-left: 48%;
  margin-top: 15px;
  transition: top;
  top: 0;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin-top: 30px;
  padding: 2px;
  transform: rotate(45deg);
  transition: transform 1s;
  height: 0;
  overflow: hidden;
}

#wrapper {
  position: fixed;
  margin-left: 25%;
  margin-top: -7px;
  transition: height;
  height: 0;
  overflow: hidden;
  z-index: 7;
}



@media only screen and (max-width: 600px){  /* css pour les basses résolutions */
  .slideMeDown {
    font-size: 24px;
    background: rgb(51, 54, 53);
    color: white;
    width: 210px;
    height: 800px;
    padding: 20px;
  }

  .gridBox {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px 1fr 50px 1fr;
  }

  .grid1 {
    grid-column: 1;
    grid-row: 1;
  }

  .grid2 {
    grid-column: 1;
    grid-row: 3;
  }
  .grid3 {
    grid-column: 1;
    grid-row: 5;
  }
  .grid4 {
    grid-column: 1;
    grid-row: 2;
  }
  .grid5 {
    grid-column: 1;
    grid-row: 4;
  }
  .grid6 {
    grid-column: 1;
    grid-row: 6;
  }
}

@media only screen and (min-width: 600px){  /* css pour les hautes résolutions */

  .slideMeDown {
    font-size: 24px;
    background: rgb(51, 54, 53);
    color: white;
    width: 700px;
    height: 200px;
    padding: 20px;
  }

  .gridBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr;
  }

  .grid1 {
    grid-column: 1;
    grid-row: 1;
  }

  .grid2 {
    grid-column: 2;
    grid-row: 1;
  }
  .grid3 {
    grid-column: 3;
    grid-row: 1;
  }
  .grid4 {
    grid-column: 1;
    grid-row: 2;
  }
  .grid5 {
    grid-column: 2;
    grid-row: 2;
  }
  .grid6 {
    grid-column: 3;
    grid-row: 2;
  }

}

.slideMeDown label {
  font-family: sans-serif;
}

.slideMeDown select {
  border: none;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}

.slideMeDown select option {
  border: solid rgb(41, 43, 42) 3px;
}

.slideMeDown select option:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.slideMeDown select option:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.slideMeDown select option:checked{
  background: #ff9500 -webkit-linear-gradient(bottom, #ff9500 0%, #ff9500 100%);
}

.inBold {
  font-weight: bold;
}

/* Css pour le formulaire d'ajout de produit */

.uploadGrid {
  display: grid;
  border: solid blue 3px;
  border-radius: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 50px;
}

.uploadGrid1 {
  grid-column: 2;
  grid-row: 1;
}

.uploadGrid2 {
  grid-column: 1;
  grid-row: 2;
}

.uploadGrid3 {
  grid-column: 3;
  grid-row: 2;
}

.uploadGrid4 {
  grid-column: 3;
  grid-row: 3;
}



.uploadGrid5 {
  grid-column: 2;
  grid-row: 4;
  justify-self: center;
}


/* css pour le slideshow/carousel de la page d'accueil */

@media only screen and (max-width: 600px){ /* css pour les basses résolutions */

  .carousel {
    position: relative;
    overflow: hidden;
    width: 26pc;
    margin: 10% auto;
  }

  .cadre {
    display: flex;
    grid-gap: 2em;
    overflow: hidden;
    width: 80em;
    padding-left: 54.5em;
    transition-duration: 1s;
  }

  .btnMap {
    padding-left: 40px;
  }

}

@media only screen and (min-width: 600px){  /* css pour les hautes résolutions */

  .carousel {
    position: relative;
    overflow: hidden;
    width: 26pc;
    margin: 10% auto;
    
  }

  .cadre {
    display: flex;
    grid-gap: 1em;
    overflow: hidden;
    width: 93em;
    padding-left: 67.2pc;
    transition-duration: 1s;
  }

}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.element {
  border-radius: 0.5em;
  border: solid black 2px;
}

.cadre > .element {
  display: flex;
  grid-gap: 1em;
  transition: all 1s ease-in-out;
}

.produitCarousel {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
  border: solid 2px #5b6572;
  border-radius: 2%;
  background-color: white;
}

.recherche,
.titreProduitCarousel {
  text-align: center;
}

hr {
  width: 100%;
  color: #b5bcc7;
}

.detailsProduitCarousel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}

.imageProduitCarousel {
  width: 200px;
  height: 200px;
  border: solid 1px black;
  z-index: 1;
}

.infosProduitCarousel {
  display: grid;
}

.vendeurProduitCarousel {
  font-style: italic;
}

.vendeurCarousel {
  text-decoration: underline;
  color: inherit;
}

.prixProduitCarousel {
  font-weight: bold;
}

.ajoutPanierCarousel {
  text-align: right;
}

.hrCarousel{
    width: 80%;
    color: black;
    border-top: 2px solid #8c8b8b;
    margin-top: 0px;
    margin-bottom: 3px;
}

.cartCarousel{
    float: right;
    margin-left: 8px;
}

.titreProduitCarousel{
    margin-top: 7px;
    margin-bottom: 0px;
}

.descProduitCarousel {
  word-wrap: break-word;
  overflow: auto;
  overflow-wrap: normal;
  width: 10em;
  height: 50%;
}


#submitFilters{
  margin-top: 10px;
}

.btnMap button {
  height: 10px;
  border-radius: 50%;
  border: none;
  background-color: rgb(25, 25, 129);
  cursor: pointer;
}

.littlePDP {
  border-radius: 2em;
}

.removeURL{
    color: #FFFFFF;
    text-decoration: none;
}