/* some tags changes */

html,
body {
  height: 100%;
  margin: 0;
  background-color: #e4f4fb;
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"] {
  font-size: 16px;
  width: 100%;
  padding-left: 0;
  padding-top: 12px;
  padding-bottom: 0.4em;
  padding-right: 200px;
  margin: 0px 0px 0px 2px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(54, 54, 54);
}

/* placeholder settings for the search bar */

input::placeholder {
  color: rgba(126, 125, 125, 0.2);
  font-size: 1.5em;
}

main {
  background-color: white;
}

nav {
  /* style that makes the navbar to be horizontal */
  margin: 0;
  padding: 0;
  background-color: rgb(41, 43, 42);
  width: 100%;
  font-family: sans-serif;
  top: 0;
  position: fixed;
  z-index: 7;
}

nav a {
  /* settings of the a tag when influenced by the nav */
  float: left;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  width: 10%; /* makes it so the links are of equal widths */
  text-align: center;
}

i {
  color: white; /* the color of the little icons */
}

nav a:hover {
  /* tweek the background of the navbar item that is hovered on */
  transition: 1s;
  background-color: black;
}

.dropdown {
  /* class that set the magnifying glass as a dropdown menu */
  float: left;
  width: 10%;
  text-align: center;
  overflow: hidden;
}

.dropdown:hover {
  /* tweek thee background of the dropdown menu when hovered on */
  transition: 1s;
  background-color: black;
}

.dropdown .dropbtn {
  /* the settings of the navbar item that make the dropdown menu appear  */
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content {
  /* settings of the dropdown menu */
  opacity: 0;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.dropdown:hover .dropdown-content {
  /* transition that make the dropdown menu appear */
  transition: 0.7s;
  padding-top: 5px;
  opacity: 1;
  z-index: 1;
}

/* style settings for the footer */

footer {
  position: sticky;
  left: 0;
  top: 80%;
  width: 100%;
  background-color: rgb(41, 43, 42);
  color: white;
  text-align: center;
}

.align {
  width: 32%;
  height: 100px;
  float: left;
  margin: 0 10px;
}

.under {
  display: inline-block;
  padding-top: 3%;
  vertical-align: bottom;
}

input[name="tabs"] {
  display: none;
}

input[name="tabs"] + label {
  padding: 5px;
  background: rgb(54, 54, 54);
  border-radius: 5px;
  color: white;
}

input[name="tabs"]:checked + label {
  transition: 0, 3s;
  font-weight: bold;
  border: solid 2px #fff;
}

.imgObj {
  grid-column: 1;
  grid-row: span 3;
  align-items: center;
  background-color: black;
  color: white;
}

.titreObj {
  grid-column: 1;
  grid-row: 4;
}

.imgObj,
.titreObj {
  text-align: center;
}

.prixObj {
  grid-column: 2;
  grid-row: 1;
}

.etatObj {
  grid-column: 2;
  grid-row: 2;
}

.vendeurObj {
  grid-column: 2;
  grid-row: 3;
}

.descObj {
  grid-column: 2;
  grid-row: 4;
}

.prixObj,
.etatObj,
.vendeurObj,
.descObj {
  background-color: lightgray;
}

.circle {
  background: #ff7a59;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.circle p {
  margin: auto;
  font-family: sans-serif;
  color: white;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-top: 4%;
  margin-left: 0.5%;
  gap: 10px;
}

.volet {
  z-index: 0;
  position: fixed;
  background: rgb(54, 54, 54);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  margin-left: 48%;
  margin-top: 15px;
  transition: top;
  top: 0;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin-top: 30px;
  padding: 2px;
  transform: rotate(45deg);
  transition: transform 1s;
  height: 0;
  overflow: hidden;
}

#wrapper {
  position: fixed;
  margin-left: 22%;
  transition: height ease-out;
  height: 0;
  overflow: hidden;
}
.slideMeDown {
  font-size: 24px;
  background: lightgray;
  color: white;
  width: 800px;
  height: 200px;
  padding: 20px;
}
