/* CSS pour la page d'utilisateur, fait par Andreas */

/* Grille principale de la page  */
.grid { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/* Classe pour centrer tous les éléments qui le requièrent */
.toCenter{
    margin: auto;
    text-align: center;

}

/* Présentation utilisateur */
#mainIntroductionUser{
    background-color: green;
    grid-area: 1 / 1 / 2 / 3;
}
/* Statistique à propos de l'utilisateur */
#rankingInfo{
    background-color: yellow;
    grid-area: 1 / 3 / 2 / 4;
}
/* Montre quelques articles */
.showCaseDiv{
    background-color: red;
    grid-area: 2 / 1 / 3 / 4;
}
#articleConatiner{
    display: inline;
}
/* Article individuel */
.article{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: white;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    
}

/* Partie supérieur d'un article */
#topArticle { 
    grid-area: 1 / 1 / 2 / 3; 
    background-color: purple;
}

/* Partie centrale-gauche d'un article */
#leftArticle {
    grid-area: 2 / 1 / 5 / 2; 
    background-color: aqua;
}

/* Partie centre-droite d'un article */
#rightArticle { 
    grid-area: 2 / 2 / 5 / 3; 
    background-color: hotpink;
}

/* Partie basse d'un article */
#bottomArticle {
    grid-area: 5 / 1 / 6 / 3; 
    background-color: darkcyan;
}

/* Div qui contient l'avis */
#commentSection{
    background-color: blue;
    grid-area: 3 / 1 / 4 / 4;
}

/* Un avis seul */
.review{
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
}

