/* CSS for user page, made by Andreas */

/* Main grid of the page */
.grid { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/* Class to center every elements who required it */
.toCenter{
    margin: auto;
    text-align: center;

}

/* User Showcase */
#mainIntroductionUser{
    background-color: green;
    grid-area: 1 / 1 / 2 / 3;
}
/* Statistic about the User*/
#rankingInfo{
    background-color: yellow;
    grid-area: 1 / 3 / 2 / 4;
}
/* Show some article */
.showCaseDiv{
    background-color: red;
    grid-area: 2 / 1 / 3 / 4;
}
#articleConatiner{
    display: inline;
}
/* Individual Article*/
.article{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: white;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    
}

/* Top part of an article */
#topArticle { 
    grid-area: 1 / 1 / 2 / 3; 
    background-color: purple;
}

/* Center-left part of an article */
#leftArticle {
    grid-area: 2 / 1 / 5 / 2; 
    background-color: aqua;
}

/* Center-right part of an article */
#rightArticle { 
    grid-area: 2 / 2 / 5 / 3; 
    background-color: hotpink;
}

/* Bottom part of an article */
#bottomArticle {
    grid-area: 5 / 1 / 6 / 3; 
    background-color: darkcyan;
}

/* Div that contain review */
#commentSection{
    background-color: blue;
    grid-area: 3 / 1 / 4 / 4;
}

/* Single review */
.review{
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
}

