#topArticle{
    height: fit-content;
    text-align: center;

}
#bottomArticle{
    
    background-color: aqua;
}

.articleCase{
    border-color: grey;
    border-style: solid;
    width: fit-content;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-top: 1%;
    border-radius: 10px;
    background-color: white;
}

#middleArticle{

    width: fit-content;


}
#leftArticle{
    float: left;

}
#rightArticle {
    float: left;
}


