#topArticle{
    block-size: fit-content;
    height: fit-content;
    text-align: center;

}

.articleCase{
    border-color: grey;
    border-style: solid;
    width: fit-content;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 1%;
    block-size: fit-content;
    border-radius: 10px;
    background-color: white;
}

#middleArticle{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: fit-content;
    block-size: fit-content;


}
#leftArticle{ grid-area: 1 / 1 / 2 / 2; }
#rightArticle { grid-area: 1 / 2 / 2 / 3; }

